<div class="container text-center test" *ngIf="addTasksBool == false">
    <div class="welcome-message  appear-text">
      <h1> Welcome to your organized world with our Todo App! 🌟</h1>
      <p>Hello there! Ready to conquer your day? Let's start by organizing your tasks and turning them into achievements.</p>
      <p>Get started now!🚀</p>
      <p>Let's dive in and make every moment count! 💪📝</p>
      <p>Click on the below button to proceed further</p>
      <a class="btn" (click)="addTasks()">Add Tasks</a>
  </div>
  </div>