<nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top custom-navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">TODO APP</a>
    </div>
    <ul class="nav navbar-nav" style="float: right;">
      <li  class="nav-item" ><a class="nav-link"routerLink="/home" routerLinkActive="active">Home</a></li>
      <li  class="nav-item"><a  class="nav-link" routerLink="/addtasks" routerLinkActive="active">Add Tasks</a></li>
      <li  class="nav-item"><a class="nav-link" routerLink="/favouritetasks" routerLinkActive="active">Favourite Tasks</a></li>
    </ul>
  </div>
</nav>

<div class="container text-center">
  <router-outlet></router-outlet>
</div>